body,html{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.wrap {
	/* position: relative; */
	margin: 0 auto;
	width: 400px;	
	height: 592px;
	background-color: white;
	background-image: url(../img/pic_normal_new_01.jpg);
	background-repeat: no-repeat;
	background-size: 400px;

}
.move3 {
	padding: 10px 30px 10px 20px;
	width: calc(100%-300px);
	margin: 0;
	position: relative;
	resize:both; 
	/* padding-right: 50px; */
	/* width: 80px; */
	/* height: 120px; */
}
.paper{
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	font-size: 30px;
	resize: none;
}
:focus {
    outline: none;
}
p{	
	width: 30px;
	/* margin: 10px; */
	/* font-family: "HanziPen SC" , sans-serif; */
	font-family: serif;
	font-size: 50px;
	margin: 0;
	padding: 0;
	/* visibility: visible; */
	visibility: visible;
}
/* 以下デザイン */
header{
	width: 100%;
	height: 100px;
	background-color: rgb(124, 101, 72);
	margin: 0px;
	padding: 0px;
}
main{
	padding-top: 50px;
	background-color: rgb(161, 161, 161);
	height: 100%;
}

/* test */
.item {
	position: absolute;
	top: 150px;
	left: 450px;
	width: 70px;
	/* height: 100px; */
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	/* text-align: center; */
	/* background-color: rgb(224, 224, 224); */
	/* box-sizing: content-box; */
}
.border{
	border: solid 1px black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.rotate{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: yellow;
	z-index: 2;
	left: 50%;
	top: -20%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.rotatet {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: rgb(0, 255, 123);
	z-index: 1;
	left: 50%;
	top: -10%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.rotate-center {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: red;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}


.resizer {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: blue;
	z-index: 2;
}

.resizer-tl {
	top: -5px;
	left: -5px;
	cursor: nw-resize;
}

.resizer-tc {
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: n-resize;
}

.resizer-tr {
	top: -5px;
	right: -5px;
	cursor: ne-resize;
}

.resizer-cl {
	top: 50%;
	left: 0%;
	transform: translate(-50%, -50%);
	cursor: w-resize;
}

.resizer-cr {
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	cursor: e-resize;
}

.resizer-bl {
	bottom: -5px;
	left: -5px;
	cursor: sw-resize;
}

.resizer-bc {
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: s-resize;
}

.resizer-br {
	bottom: -5px;
	right: -5px;
	cursor: se-resize;
}

.on_focus_button{
	display: none;
}

.on_focus{
	visibility: hidden;
}