html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content_edit_box {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 10%;
    background-color: rgb(114, 100, 100);
}
main {
    display: flex;
    width: 100%;
    height: 90%;
}
.left_m {
    display: flex;
    width: 40%;
}
.select {
    width: 16%;
    height: 100%;
    background-color: rgb(128, 128, 128);
}
.templ_m{
    width: 84%;
    height: 100%;
    background-color: rgb(47, 46, 46);
}
.main_edit {
    width: 60%;
    height: 100%;
    background-color: rgb(215, 215, 215);
}
.edit_area {
    width: 100%;
    height: 100%;
}

.rotate-center {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	/* background-color: red; */
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* cursor: pointer; */
}

.rotate{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: yellow;
	z-index: 2;
	left: 50%;
	top: -20%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}