*:focus {
    outline: none;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content_edit_box {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 10%;
    background-color: rgb(114, 100, 100);
}
.edit_tgl{
    position: absolute;
    top: 3%;
    left: 600px;
}
.edit_tgl ul {
    margin-top: 0px;
    display: flex;
    padding-left: 10px;
}
.edit_tgl ul li{
    margin: 20px 10px;
    cursor: pointer;
    list-style: none;
    padding: 5px;
    border-radius: 7%;
    color: white;
    background-color:#656565;
    transform: translateY(-2px);
    transition: 0.1s ease-in-out;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.tgl_on{
    background-color: rgb(47, 46, 46) !important;
    box-shadow: none !important;
    transform: translateY(0px) !important;
}

.edit_tgl ul li:hover,
.save:hover{
    background-color: rgb(80, 79, 79);
    box-shadow: none;
    transform: translateY(0px);
}
.save:active{
    background-color: rgb(47, 46, 46);
    box-shadow: none;
    transform: translateY(0px);
}

.save {
    position: absolute;
    top: 5%;
    left: 92%;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 7%;
    background-color:#656565;
    transform: translateY(-2px);
    transition: 0.1s ease-in-out;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
main {
    display: flex;
    width: 100%;
    height: 90%;
}
.left_m {
    display: flex;
    position: absolute;
    width: 600px;
    height: 100%;
}
.select {
    width: 100px;
    height: 100%;
    background-color: rgb(128, 128, 128);
}
.select_content {
    width: 70px;
    height: 70px;
    color: white;
    margin: 20px auto;
    text-align: center;
    line-height: 70px;
    transform: translateX(15px);
    cursor: pointer;
    background-color: rgb(47, 46, 46);
    transform: translateX(15px);
    z-index: 100;
    transition: 0.3s ease-in-out;
}

.select_off {
    background-color: #656565;    
    transform: translateX(0px);
}

.select_content span{
    vertical-align: middle;
}
.templ_m{
    width: 500px;
    height: 100%;
    background-color: rgb(47, 46, 46);
    overflow: auto;
}
.main_edit {
    width: calc(100% - 600px);
    height: 100%;
    background-color: rgb(215, 215, 215);
    margin-left: 600px;
}
.edit_area {
    width: 100%;
    height: 100%;
}
input {
    display: none;
}
.template-content{
    width: 100%;
    cursor: pointer;    
    text-align: left;
}
.template-content h1{
    margin-top: 0;
}
.template-content h1,
.template-content h4,
.template-content p{
    background-color:#474646;
    padding: 5px;
    padding-left: 14px;
}

.template-content h1:hover,
.template-content h4:hover,
.template-content p:hover{
    background-color:#656565;
}

.template-text-1 h2,
.template-text-2 h2{
    font-size: 0.9em;
}
.title-text-1 {
    font-size: 1.5em;
}
.title-text-2{
    font-size: 1.3em;
}
.title-text-3{
    font-size: 1.1em;
}
.text-1 {
    font-size: 1.5em;
}
.text-2{
    font-size: 1.3em;
}
.text-3{
    font-size: 1.1em;
}
.template-text-1{
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
}
.template-text-2{
    color: #fff;
    margin: 0 auto;
    width: 70%;
    margin-top: 100px;
}


#contextmenu{
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:200px;
    height:60px;
    border:1px solid #000;
    background-color:#fff;
    z-index: 10;
}
#contextmenu li{
    cursor: pointer;
}