@charset "UTF-8";

body,h1,h2,h3,h4,p,ul{margin: 0;
padding: 0;}

ul{display: block;
list-style: none;}

a{text-decoration: none;}*/

* {box-sizing: border-box;} 

body {font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
line-height: 1.8;
color: #444444;}

/*フッター*/
.top_element{border-top: 1px solid #ffffff8b;
  /* border-bottom: 1px solid #ffffff8b; */
  height: 20px;
  background-color: #ffffff8b;}
  
  .top_inner{width: 1280px;
  margin: 0 auto;}
  
  .footer_menu{overflow: hidden;
  float: left;
  display: flex;}
  
  .footer_menu li {margin-top: 10px;}
  
  .footer_menu a{color: rgb(96, 96, 96);
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;}
  
  .footer_menu a:hover{text-decoration: underline;}
  
  span{color: rgb(96, 96, 96);}
  
  .sns{float: right;
  display: flex;}
  
  .sns li {margin-right: 40px;
  margin-top: 10px;}
  
  .sns a{color: #333;
  font-weight: bold;
  font-size: 20px;}
  
  .body_element{background-color: #ffffff8b;}
  
  .body_inner{width: 1280px;
  margin: 0 auto;
  padding: 0px;
  display: flex;}
    
  .footer_logo img{width: 100px;
  height: 100px;}
  
  .footer_info {float: left;
  line-height: 25px;
  padding-top: 20px;}
  
  .footer_info p{font-size: 15px;
  color: #333;
  align-items: center;}