@charset "UTF-8";

body,h1,h2,h3,h4,p,ul{margin: 0;
padding: 0;}

.box00{width: 1280px;
    margin: 0 auto;}

ul{list-style: none;}

a{text-decoration: none;}*/

* {box-sizing: border-box;} 

body {font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック''Yu Gothic','メイリオ''ＭＳ Ｐゴシック','MS PGothic';
line-height: 1.8;}

/*background*/
.water{position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 750px;
    background: url(../image/water_blue1.jpg);}

/*ヘッダー*/
.navigator{position:block;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;}

.navigator_content{display: flex;
    align-items: center;
    width: 100%;}

.navigator_content img{width: 150px;}    

.navigator_content a{font-size: 20px;
    font-weight: bold;
    color: black;}

.navigator_left{display: flex;
    align-items: center;}

.navigator_left a{margin: 20px;}

.navigator_right{margin-left: auto;}  

.navigator_right a{margin-right: 30px;}

/* info-box */
.info{width: 1440px;
margin: 0 auto;}

.content{display: flex;
align-items: center;}

.content img{width: 700px;
height: 450px;}

.content_text{width: 500px;
margin: 0 auto;}

.content_text h2{font-size: 40px;
font-weight: bold;
margin-bottom: 20px;}

.content_text p{font-weight: bold;
margin-bottom: 20px;}

.cart_btn{width: 500px;
height: 55px;
margin-top: 20px;
background-color: #B2CF00;
color: white;
font-size: 20px;
font-weight: bold;
border: none;
cursor: pointer;
outline:none;
transition: 0.5s ease;}

.cart_btn:hover {opacity: 0.5;}

.select_box{width: 1680px;
    height: 100px;
    margin-top: 40px;
    margin-left: 10px;}

.item_select{width:300px;
    float:  right;
	padding:20px;
	font-size:20px;
	border:solid 1px #ccc;
	border-radius: 20px;
	cursor: pointer;
    margin-left: 0;}

.item_list{width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;}

.item_list::before,
.item_list::after{
    content: "";
    width: 530px;
    height: 3px;
    background-color: #e5c046;}

.item_list::before{
    margin-right: 30px;}

.item_list::after{
    margin-left: 30px;}

.item_box{display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;}
    
.ite{width: 400px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;}
    
.ite img{width: 400px;
height: 300px;}

.ite h3{font-size: 14px;
    margin: 5px;}
    
.ite p{font-size: 20px;
    margin: 5px;
    font-weight: bold;}