@font-face {
	font-family: "yosugara";
	src: url(../data/fonts/yosugara1.1.ttf);
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

body {
	background-image: url("../data/img_data/white_wood.jpg");
	display: flex;
}

.img_elem {
	margin: 3% auto 3%;
	width: 800px;
}
.respondent label{
	font-family: serif;
}

.respondent label h4{
	margin-bottom: 0px;
}
.img_elem img {
	width: 100%;
	margin: 0 auto;
	transform: scale(1);
}

.survey-form {
	width: 400px;
	margin: 100px auto 0 auto;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	height: fit-content;
	transform: translateX(-80px);
}

.survey-contents {
	margin-left: 20px;
}

.survey-title h3 {
	font-family: serif;
	font-size: 1.5em;
}

.survey input {
	display: none;
}

.input-content {
	font-family: serif;
	font-size: 1.1em;
}

.input-label {
	display: block;
	cursor: pointer;
	width: fit-content;
}

.input-content h4 {
	padding: 2px;
}

.input-label:hover {
	background-color: rgb(214, 214, 214);
}

input:checked + label {
	background: #939393;
	font-weight: 500;
	color: #fff;
}

label {
	cursor: pointer;
	display: block;
	border-radius: 10px;
}
.survey-submit {
	width: 150px;
	margin-left: auto;
	font-family: serif;
}

.gift-title {
	font-size: 1.5em;
}

.gift-form {
	width: 400px;
	margin: 10px auto;
	margin-bottom: 100px;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	height: fit-content;
	transform: translateX(-80px);
	font-family: serif;
}
.gift-img {
	width: 58%;
}

.gift {
	margin-left: 20px;
}
.gift-submit {
	width: 70px;
	margin-left: auto;
}
@media all and (max-width: 1000px) {
	.img_elem {
		width: 100%;
		margin: 8% auto 3%;
	}
	body {
		display: block;
		/* overflow-y: scroll; */
	}
	.survey-form{
		transform: translateX(0px);
	}
	.gift-form {
		transform: translateX(0px);
	}

}

@media all and (max-width: 450px) {
	.img_elem {
		transform: scale(1.5);
		width: 100%;
		/* transform: scale(1.5); */
		margin: 25% auto 3%;
	}
	.survey-form {
		width: 80%;
	}
	.gift-form {
		width: 80%;
	}
}