body {
  /* background-image: url("../img/water_purple1.jpg"); */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  background-color: rgb(248, 248, 215);
}

h2 {
  font-size: 3em;
  text-align: center;
}

.user_icon img {
  margin-left: 15%;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  display: inline-block;
}
.user_icon p {
  margin-left: 15px;
  font-size: 2em;
  display: inline-block;
}

.container {
  /* display: flex; */
  margin: 0 auto;
  flex-wrap: wrap;
  width: 70.5%;
  height: fit-content;
}

.set-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.set-flex2 {
  display: flex;
  width: fit-content;
}

.container .item {
  display: flex;
  margin: 0.5%;
  width: 24%;
  position: relative;
}

.container .n01 .a {
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  height: 130px;
  background: #e4e4e4; 
  float: left;
  text-align: center;
  font-size: 85%;
  font-weight: bold;
  padding: 1.3em 0 1em;
  border-radius: 3px;
  justify-content: space-between
} 
.container .n01 .a:hover {
  background: #eee;
  text-decoration: none;
}
.container .n01 .a img {
  mix-blend-mode: multiply;
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto 0.7em;
}
.container .n01 p {
  display:inline-block;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
} 

.container .n02 .a {
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  height: 130px;
  background: #e4e4e4;
  float: left;
  text-align: center;
  font-size: 85%;
  font-weight: bold;
  padding: 1.3em 0 1em;
  border-radius: 3px;
  justify-content: space-between
}
.container .n02 .a:hover {
  background: #eee;
  text-decoration: none;
}
.container .n02 .a img {
  mix-blend-mode: multiply;
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto 0.7em;
}
.container .n02 p {
  display:inline-block;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
} 

.container .n03 a {
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  height: 130px;
  background: #e4e4e4;
  float: left;
  text-align: center;
  font-size: 85%;
  font-weight: bold;
  padding: 1.3em 0 1em;
  border-radius: 3px;
  justify-content: space-between
}
.container .n03 a:hover {
  background: #eee;
  text-decoration: none;
}
.container .n03 a img {
  mix-blend-mode: multiply;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 0.7em;
}
.container .n03 p {
  display:inline-block;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
} 

.container .n04 .logout {
  display: flex;
  width: 100%;
  height: 130px;
  background: #e4e4e4;
  float: left;
  text-align: center;
  font-size: 85%;
  font-weight: bold;
  padding: 1.3em 0 1em;
  border-radius: 3px;
  justify-content: space-between;
  cursor: pointer;
}
.container .n04 .logout:hover {
  background: #eee;
  text-decoration: none;
}
.container .n04 .logout img {
  mix-blend-mode: multiply;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 0.7em;
}
.container .n04 p {
  display:inline-block;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

.view-history{
  margin: 0 auto;
  width: 70%;
  min-height: 30px;
  background-color: #fff;
}

.history-content{
  display: flex;
  padding: 20px;
  border-top: dashed 1px #000;
}

.history {
  padding: 20px;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.history:hover{
  opacity: 0.7;
}

.history-id{
  padding: 2px 0px;
  margin-right: 30px;
  display: block;
}
.history-title{
  padding: 2px 0px;
  display: block;
}
.delete {
  margin-left: auto;
  z-index: 3;
  line-height: 3;
  padding: 10px 0;
}

.new_edit{
  width: 116px;
  margin-left: auto;
  margin-right: 20px;
  padding: 20px;
}

.quertion {
  width: 50%;
  margin-bottom: 10px;
}

.result-table {
  margin-top: 10px;
  width: 45%;
  margin-left: 10px;
  height: 220px;
  overflow: auto;
  border: solid 2px #919191;
}

.tbl-elem {
  width: 50%;
  height: 20px;
  padding: 5px;
}
.tbl-1 {
  border-right: solid 1px #919191;
  border-bottom: solid 2px #919191;
}
.tbl-2 {
  border-left: solid 1px #919191;
  border-bottom: solid 2px #919191;
}

.tbl-title {
  background-color: aliceblue;
}

.table-content {
  width: 100%;
  display: flex;
}

.questionnaire{
  width: 68%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 1%;
  margin-bottom: 40px;
}

.questionnaire h4 {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
}

.question-content {
  justify-content: center;
  display: flex;
  width: 100%;
  border-bottom: #919191 solid 2px;
  padding-bottom: 7%;
}