@charset "UTF-8";

/* ------------------------------------------------
setting
--------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

html,body   {height:100%;}
body  {min-width:960px; width:100%; color:#666;
   /* letter-spacing:13pt; */
   /* スクロールバー非表示 */
   overflow: scroll;
   /* ローディングアニメーション */
   animation-name:body;
   animation-duration:3.3s;
   }

/* スクロールバー非表示 */
.body_box::-webkit-scrollbar{
  display: none;
  }
 
/* ローディングアニメーション */
.body{
  animation-name:body;
  animation-duration:3.3s;
  }
  
  @keyframes body{
  0% {
    overflow: hidden;
  }

  100% {
    overflow: hidden;
    }
  }
    

body a  {color:#666;}

::selection {background: #fff; color: #98d9e7;}
::-moz-selection {background: #fff; color: #98d9e7;}

.jsf    {font-family: 'Josefin Sans', "游ゴシック体", "Yu Gothic", YuGothic, sans-serif; letter-spacing: 3px; font-style: italic;}
.jsf_n  {font-family: 'Josefin Sans', "游ゴシック体", "Yu Gothic", YuGothic, sans-serif; letter-spacing: 3px;}


/* ------------------------------------------------
CSS3 animation & parts layout
--------------------------------------------------- */
/* link */
/* .trans_bg a         {opacity:1; filter:alpha(opacity=100); display:block; overflow:hidden; height:0; -moz-transition:all 0.2s ease-in; -webkit-transition:all 0.2s ease-in;}
.trans_bg a:hover   {opacity:0; filter:alpha(opacity=0); -moz-transition: all 0.2s ease-in; -webkit-transition:all 0.2s ease-in;}
.trans_bg_disabled a        {opacity:1; display:block; overflow:hidden; height:0; cursor: default;} */

.obj  {position:absolute; z-index:0;}
.t_disabled {color: #cacaca;}

/* vietnamese */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMlhLzTs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMhhLzTs.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhLw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ------------------------------------------------
右下モーダルウィンドウ
--------------------------------------------------- */

/*動画表示のモーダルの余白を変更したい場合*/
.modaal-video .modaal-inner-wrapper{
  padding:0;
}

/*モーダルのボタンの色を変更したい場合*/ 
.modaal-close:after, 
.modaal-close:before{
  background:#ccc;  
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#666;
}

#video-open {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.video-open {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.video-open:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.video-open:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .video-open {
    padding: 18px 50px 18px;
  }
}

/* 表示・非表示 */
.elm {
  text-decoration:none;
  transition: 0.2s;
  opacity: 0;
}
/* ------------------------------------------------
background
--------------------------------------------------- */
.water1 {
  background: url(../img/water_red2.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
}

.back{
  animation-name:back;
  animation-duration:3.3s;
}

@keyframes back{
  0% {
    filter: blur(40px);
    opacity: 0;
  }
  
  80% {
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
/* ------------------------------------------------
first_view
--------------------------------------------------- */
#first_view{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ぼかしから出現 */
.blur{
  font-size: 50%;
  font-size: max(60px);
  animation-name:blurAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
  position: relative;
}

@keyframes blurAnime{
  0% {
  filter: blur(80px);
  transform: scale(1.02);
  transform: translateY(0px);
  }

  30% {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  transform: translateY(0px);
  }

  80% {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  transform: translateY(0px);
  }

  100% {
  filter: blur(0);
  transform: scale(1);
  opacity: 0;
  transform: translateY(-70px);
  }
}


/* icon見た目 */
.icon{
  width: 50vw;
  max-width: 500px;
  aspect-ratio: 1;
  border-radius:50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name:iconAnime;
  animation-duration:3.3s;
}

/* iconアニメーション */
@keyframes iconAnime{
  0% {
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);;
   }
  
  85% {
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);;
  }

  100% {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
  }
}

/*--------スクロールダウン---------*/
.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
left:50%;
bottom:10px;
  /*全体の高さ*/
height:50px;
animation-name:back;
animation-duration:3.3s;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  /*描画位置*/
position: absolute;
left:-15px;
top: -15px;
  /*テキストの形状*/
color: rgb(0, 0, 0);
font-size: 0.7rem;
letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
content: "";
  /*描画位置*/
position: absolute;
top: 0;
  /*線の形状*/
width: 1px;
height: 30px;
background: rgb(0, 0, 0);
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: pathmove 1.4s ease-in-out infinite;
opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:30px;
  opacity: 1;
}
100%{
  height:0;
  top:50px;
  opacity: 0;
}
}

/* ------------------------------------------------
first_content
--------------------------------------------------- */
#first_content{
  height: 50vh;
}

.Explanation{
  font-size: 35px;
  text-align: center;
}
/* -----------------slider----------------- */

#Eslider {
  height: 150px;
  width: 600px;
  margin: 180px auto 0;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Ebutton-right{
  user-select: none;
  left: 8px;
  width: 16px;
  height: 16px;
  border-top: 3px solid #484848d4;
  border-right: 3px solid #484848d4;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#Ebutton-left{
  user-select: none;
  left: 8px;
  width: 16px;
  height: 16px;
  border-top: 3px solid #484848d4;
  border-right: 3px solid #484848d4;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/*========= モーダル表示のためのCSS ===============*/

/*動画表示のモーダルの余白を変更したい場合*/
/* .modaal-video .modaal-inner-wrapper{
  padding:0;
} */

/*モーダルのボタンの色を変更したい場合*/
/* .modaal-close:after, 
.modaal-close:before{
  background:#111;  
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#222;
}
 */

/* #first_content{
  height: 50vh;
  vertical-align:middle; 
  padding: 100px 0;
  text-align: center;
} */

/* ------------------------------------------------
second_content
--------------------------------------------------- */
.Shadow   {box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;}

#top_wrapper         {width: 1075px; height: 2830px; margin: 0 auto; position: relative; }
#top_wrapper .lnk    {z-index: 4;}
#top_wrapper .stitch {z-index: 3;}
#top_wrapper .photo  {z-index: 2;}/* imgの前後指定 */

/* imgの位置指定 */
#top_wrapper #photo_01     { top: 0;      left:60px;  width: 660px; height: 442px;}
#top_wrapper #photo_02     { top: 560px;  right:30px; width: 431px; height: 644px;}
#top_wrapper #photo_03     { top: 890px;  left:60px;  width: 382px; height: 255px;}
#top_wrapper #photo_04     { top: 1370px; left:77px;  width: 734px; height: 491px;}
#top_wrapper #photo_05     { top: 2040px; right:0;    width: 507px; height: 339px;}
#top_wrapper #photo_06     { top: 2300px; left:0;     width: 507px; height: 339px;}
#top_wrapper #description  { top: 70px;   right: 110px; }

#top_wrapper #lnk_00       { top:70px;    left:80%; }
#top_wrapper #lnk_01       { top:660px;   left:23%; }
#top_wrapper #lnk_02       { top:1570px;  left:80%; }
#top_wrapper #lnk_03       { top:2040px;  left:25%; }

#top_wrapper #lnk_00   { background:url(../img/00.jpg) no-repeat 0 0; mix-blend-mode: multiply;}
#top_wrapper #lnk_00 a { background:url(../img/00.jpg) no-repeat 0 0; padding-top: 114px; mix-blend-mode: multiply;}
#top_wrapper #lnk_01   { background:url(../img/01.jpg) no-repeat 0 0; mix-blend-mode: multiply;}
#top_wrapper #lnk_01 a { background:url(../img/01.jpg) no-repeat 0 0; padding-top: 115px; mix-blend-mode: multiply;}
#top_wrapper #lnk_02   { background:url(../img/02.jpg) no-repeat 0 0; mix-blend-mode: multiply;}
#top_wrapper #lnk_02 a { background:url(../img/02.jpg) no-repeat 0 0; padding-top: 115px; mix-blend-mode: multiply;}
#top_wrapper #lnk_03   { background:url(../img/03.jpg) no-repeat 0 0; width: 90px; mix-blend-mode: multiply;}
#top_wrapper #lnk_03 a { background:url(../img/03.jpg) no-repeat 0 0; padding-top: 116px; mix-blend-mode: multiply;}

/*---------------------svg-----------------------*/

#top_wrapper #stitch_01  { top:190px;   right:25%;  width: 260px; height: 260px; }
#top_wrapper #stitch_02  { top:1095px;  right:35%;  width: 210px; height: 210px; }
#top_wrapper #stitch_03  { top:1290px;  left:0;     width: 480px; height: 480px; }
#top_wrapper #stitch_04  { top:1780px;  right:30%;  width: 330px; height: 330px; }
#top_wrapper #stitch_05  { top:2095px;  left:77px;  width: 250px; height: 250px; }
#top_wrapper #stitch_06  { top:2445px;  right:20%;  width: 2px;   height: 440px; }
#top_wrapper #stitch_08  { top:330px;   left:130px; width: 570px; height: 570px; }

/*---------------------吹き出し-----------------------*/
.css-speech-bubble {
  padding: 0;
  margin: 0;
  position: relative;
}
.text {
  width: 200px;
  /* position: relative; */
  /* margin:80px 50px 50px; */
  padding: 20px;
  border: 1px solid #ccc;
}
.speech-bubble {
  display: none;
  width: 200px;
  position: absolute;
  top: 0;
  left: 891px;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
}
.speech-bubble:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.text:hover + .speech-bubble {
  display: block;
}

/*---------------------吹き出し2-----------------------*/
.css-speech-bubble2 {
  padding: 0;
  margin: 0;
  position: relative;
}
.text2 {
  width: 200px;
  /* position: relative; */
  /* margin:80px 50px 50px; */
  padding: 20px;
  border: 1px solid #ccc;
}
.speech-bubble2 {
  display: none;
  width: 200px;
  position: absolute;
  top: 585px;
  left: 279px;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
  z-index: 10;
}
.speech-bubble2:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.text2:hover + .speech-bubble2 {
  display: block;
}
/*---------------------吹き出し3-----------------------*/
.css-speech-bubble3 {
  padding: 0;
  margin: 0;
  position: relative;
}
.text3 {
  width: 200px;
  /* position: relative; */
  /* margin:80px 50px 50px; */
  padding: 20px;
  border: 1px solid #ccc;
}
.speech-bubble3 {
  display: none;
  width: 200px;
  position: absolute;
  top: 1510px;
  left: 83%;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
  z-index: 10;
}
.speech-bubble3:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.text3:hover + .speech-bubble3 {
  display: block;
}
/*---------------------吹き出し4-----------------------*/
.css-speech-bubble4 {
  padding: 0;
  margin: 0;
  position: relative;
}
.text4 {
  width: 200px;
  /* position: relative; */
  /* margin:80px 50px 50px; */
  padding: 20px;
  border: 1px solid #ccc;
}
.speech-bubble4 {
  display: none;
  width: 200px;
  position: absolute;
  top: 1976px;
  left: 27.5%;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
  z-index: 10;
}
.speech-bubble4:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.text4:hover + .speech-bubble4 {
  display: block;
}
/* ------------------------------------------------
third_content
--------------------------------------------------- */
#third_content{
  /* background-color: rgba(68, 45, 221, 0.283); */
  height: 50vh;
}

.gift{
  font-size: 35px;
  text-align: center;
}

/* -----------------slider----------------- */
.sliderArea {
  /* background: #fff; */
  overflow: hidden;
}
.sliderWide {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}
.sliderWide .slick-arrow {
  opacity: 0;
  transition-duration: 0.3s;
}
.sliderWide:hover .slick-arrow {
  opacity: 1;
}
.slider {
  max-width: 580px;
  margin: 0 auto;
  padding: 0;
}
.slider .slick-list {
  overflow: visible;
}
/* .slider .slick-track {} */
.slider .slick-slide {
  padding: 0 10px;
  opacity: .5;
  transition-duration: 0.3s;
}
.slider .slick-slide.slick-current {
  opacity: 1;
}
.slider .slick-slide a {
  display: block;
}
.slider .slick-slide a:hover {
  display: block;
  opacity: .7;
}
.slider img {
  height: auto;
  width: 100%;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-dots {
  bottom: -33px;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  text-indent: -9999px;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 12px;
  outline: 0;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.slick-dots li button:before {
  content: none;
}
.slick-dots li:nth-child(1) button {
  background: #f5d1c3;
}
.slick-dots li:nth-child(2) button {
  background: #a9b7ba;
}
.slick-dots li:nth-child(3) button {
  background: #c4d7d1;
}
.slick-dots li:nth-child(4) button {
  background: #b4b1a0;
}
.slick-dots li:nth-child(5) button {
  background: #e5dfd3;
}
.slick-dots li button:hover, .slick-dots li.slick-active button {
  border-radius: 0px;
  width: 22px;
  height: 22px;
}

