@charset "UTF-8";

body,h1,h2,h3,h4,p,ul{margin: 0;
padding: 0;
overflow-x: hidden;}

.box00{width: 1280px;
margin: 0 auto;}

ul{list-style: none;}

a{text-decoration: none;}*/

*{box-sizing: border-box;} 

body {font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック''Yu Gothic','メイリオ''ＭＳ Ｐゴシック','MS PGothic';
line-height: 1.8;}

header{font-family: 'Kaisei Decol', serif;
font-family: 'Shippori Mincho', serif;}

/*background*/
.water{position: fixed;
top: 0;
left: 0;
z-index: -1;
width: 100%;
height: 100%;
background: url(../img/water_blue1.jpg);}

/*ヘッダー*/
.navigator{position:block;
top: 0;
left: 0;
z-index: 10;
width: 100%;}

.navigator_content{display: flex;
align-items: center;
width: 100%;}

.navigator_content img{width: 150px;}    

.navigator_content a{font-size: 20px;
font-weight: bold;
color: black;}

.navigator_left{display: flex;
align-items: center;}

.navigator_left a{margin: 20px;}

.navigator_right{margin-left: auto;}  

.navigator_right a{margin-right: 30px;}

/* マップ */
.map_wrap{width: 100%;
background: rgb(247, 245, 245);
border-bottom: 1px solid rgb(235, 233, 233);}
  
.map_inner{width: 100%;
width: 1140px;
margin: 0px auto;}
  
.map_channer{width: 100%;
overflow: hidden;
padding-bottom: 3px;}
  
.map_list{display: flex;
float: right;
overflow: hidden;}
  
.map_list li{line-height: 32px;
padding-top: 4px;
background: url(../img/list.jpg)no-repeat left 8px;}
  
.map_list a{color: #333;
font-size: 15px;
margin-left: 20px;}

.map_list a:hover{color: #666;
text-decoration: underline;}

/* footer-box */
.footer_element{margin-top: 30px;}

.top_element{border-top: 1px solid #bcc9dd;
border-bottom: 1px solid #bcc9dd;
height: 50px;
background-color: #dce2ec;}
          
.top_inner{width: 1280px;
margin: 0 auto;}
          
.footer_menu{overflow: hidden;
float: left;
display: flex;}
          
.footer_menu li {margin-top: 10px;}
          
.footer_menu a{color: #000;
font-size: 15px;
font-weight: bold;
margin-right: 15px;}
          
.footer_menu a:hover{text-decoration: underline;}
          
span{color: #1e43bd;}
          
.sns{float: right;
display: flex;}
          
.sns li {margin-right: 40px;
margin-top: 10px;}
          
.sns a{color: #333;
font-weight: bold;
font-size: 20px;}
          
.body_element{background-color: #ecf1f7;}
          
.body_inner{width: 1280px;
margin: 0 auto;
padding: 20px;
display: flex;}
            
.footer_logo img{width: 100px;
height: 100px;}
          
.footer_info {float: left;
line-height: 25px;
padding-top: 20px;}
          
.footer_info p{font-size: 15px;
color: #333;
align-items: center;}
  